#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.primary-nav__logo {
  flex-shrink: 0;
}
.primary-nav__container {
  flex: 1;
}
.primary-nav__logo-link {
  height: 3.75rem;
  line-height: 3.75rem;
  display: inline-flex;
  align-items: center;
  padding: 0 1.125rem;
}
.jsx-3109345124.logo-tia {
  margin-right: 0.375rem;
  fill: #e10000;
}
.primary-nav__field {
  align-items: center;
  justify-content: space-between;
}
.primary-nav__item-link,
.primary-nav__aside-li-nav {
  height: 3.75rem;
  line-height: 3.75rem;
  padding: 0 0.75rem;
  display: inline-block;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.primary-nav__item-link.active {
  color: #171717;
  background-color: #fff;
  box-shadow: 0 -10px 10px 0 rgb(0 0 0 / 10%);
}
.secondary-nav-wrapper {
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 0 0 10px rgb(0 0 0 / 3%);
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 99;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 3.75rem;
  // overflow: hidden;
}
.secondary-nav--left__cate {
  padding: 0 1.125rem;
  letter-spacing: 0.125rem;
  height: 3.75rem;
  line-height: 3.75rem;
  position: relative;
  cursor: pointer;
}
.secondary-nav--left__icon {
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}
.secondary-nav--left__icon.action {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.secondary-nav {
  align-items: center;
  justify-content: space-between;
}
.secondary-nav--right {
  padding-right: 1.125rem;
}
.secondary-nav--right__link {
  display: inline-block;
}
.secondary-nav--right__link + .secondary-nav--right__link {
  margin-left: 1.125rem;
}
.btn-newsletter:hover {
  background-color: rgba(224, 0, 0, 0.1);
}
.btn-subscribe:hover {
  background-color: #7a0000;
  color: #fff;
}
.secondary-nav--left__list {
  display: flex;
  align-items: center;
}
.secondary-nav--left__link.current {
  box-shadow: inset 0 -2px #e10000;
  color: #e10000;
  display: inline-block;
}
.secondary-nav--left__dropdown {
  position: absolute;
  min-width: 17.5rem;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 25rem;
  max-height: 70vh;
  overflow-y: auto;
  transform: scaleY(0);
  transform-origin: top;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  will-change: all;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.secondary-nav--left__dropdown.active {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}
.secondary-nav--left__child {
  padding: 1.125rem;
}
.primary-nav__search {
  display: flex;
  align-items: center;
}
.primary-nav__search--icon,
.primary-nav__login,
.primary-nav__signup {
  cursor: pointer;
}
.form-search-aside-nav {
  height: 2.5rem;
  background-color: transparent;
  width: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.form-search-aside-nav.open {
  width: 100px;
  opacity: 1;
  visibility: visible;
  margin-left: 0.75rem;
  padding: 0.75rem 0.75rem 0.75rem 0;
}
.form-search-aside-nav::-webkit-input-placeholder,
.form-control-sign-up::-webkit-input-placeholder {
  /* Edge */
  color: #171717;
  font-size: 0.75rem;
  font-style: italic;
}
.form-control-sign-up::-webkit-input-placeholder {
  font-size: 0.875rem;
}
.form-search-aside-nav:-ms-input-placeholder,
.form-control-sign-up::-webkit-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #171717;
  font-size: 0.75rem;
  font-style: italic;
}
.form-control-sign-up::-webkit-input-placeholder {
  font-size: 0.875rem;
}
.form-search-aside-nav::placeholder,
.form-control-sign-up::-webkit-input-placeholder {
  color: #171717;
  font-size: 0.75rem;
  font-style: italic;
}
/*===============================================================*/
.main {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 9px;
}
.main-left-wrapper {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}
.main-left-row-one {
  padding: 24px 18px;
  background-color: #fafafa;
  background-image: linear-gradient(to right bottom, #fafafa, #f5f5f5);
  text-shadow: 0 1px 1px #fff, 0 1px 1px #fff, 0 1px #fff, 0 1px 5px #fff,
    0 1px 5px #fff, 0 1px 5px #fff;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 rgb(255 255 255 / 50%);
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.main-left-row-one__title {
  font-size: 37px;
  line-height: 1.2;
}
.main-left-row-one__sapo {
  margin-top: 0.375rem;
  margin-bottom: 1rem;
}
.featured-premium {
  box-shadow: 0 2px 5px 1px rgb(0 0 0 / 5%);
}
.featured-premium:hover {
  box-shadow: 0 3px 7px 2px rgb(0 0 0 / 10%);
}
.featured-premium__content {
  background-color: #fff;
}
.featured-premium__cate {
  letter-spacing: 2px;
  display: inline-block;
  line-height: 1.8;
  margin-bottom: 12px;
  border-bottom: 1px solid #e10000;
}
.featured-premium__title {
  margin-bottom: 1.875rem;
}
.featured-premium__author--link {
  display: flex;
  align-items: center;
}
.featured-premium__author--text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.featured-premium__author--img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-right: 0.5rem;
  flex-shrink: 0;
}
.latest-stories__header {
  margin: 0 1.125rem 0.625rem 0;
}
.latest-stories__header-h3 {
  display: inline-block;
  border-bottom: 1.5px solid #ededed;
  padding-bottom: 10px;
}
.article {
  display: flex;
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}
.article--img {
  width: 40%;
  flex-shrink: 0;
}
.article--content {
  width: 60%;
  flex: 1;
  padding-left: 1.125rem;
}
.receive-email {
  padding: 1.125rem 3rem;
  border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
  margin: 2.25rem 0 1.125rem;
}
.sub-form-control {
  height: 2.5rem;
  background-color: transparent;
  max-width: 20rem;
  border-bottom: 1px solid #e5e5e5;
}
.sub-form-control::-webkit-input-placeholder {
  /* Edge */
  color: #171717;
  font-size: 0.75rem;
  font-style: italic;
}

.sub-form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #171717;
  font-size: 0.75rem;
  font-style: italic;
}

.sub-form-control::placeholder {
  color: #171717;
  font-size: 0.75rem;
  font-style: italic;
}
.btn-sub-form {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.receive-email__link {
  font-style: italic;
}
.receive-email__link a {
  text-decoration: underline;
}
.main-right-wrapper {
  padding-left: 9px;
  padding-right: 9px;
}
.jsx-3337749519 {
  border-bottom: 1.5px solid #ededed;
  padding-bottom: 10px;
}
.premium-content-header__link {
  padding: 0.5rem 0;
  display: block;
}
.premium-content__item-link {
  display: flex;
  width: 100%;
  padding: 0.75rem 0;
}
.premium-content__item-img {
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
  flex-shrink: 0;
}
.premium-content__item-text {
  margin-left: 0.625rem;
  flex: 1;
  color: #000;
  font-weight: 500;
}
.premium-content__item-link:hover .premium-content__item-text {
  color: #e10000;
}
.premium-content__item-link:hover .premium-content__item-img {
  opacity: 0.8;
}
.read-more-premium {
  text-align: center;
  padding: 0.75rem 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.read-more-premium__link:hover {
  color: #e10000;
}
.top-stories,
.latest-jobs {
  margin-top: 2rem;
}
.top-stories-form--group {
  display: flex;
  align-items: center;
  position: relative;
}
.stories-form-control {
  vertical-align: middle;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #c9c9c9;
  padding: 0 25px 0 10px;
  width: 80%;
}
.stories-btn {
  vertical-align: middle;
  width: 25%;
  height: 30px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: normal;
  border: none;
  font-family: Lato, sans-serif;
  font-size: 13px;
  color: #fff;
  flex-shrink: 0;
  position: absolute;
  right: 0;
}
.latest-jobs-brand {
  width: 2.125rem;
  height: auto;
}
.latest-jobs-link-featured {
  flex-shrink: 0;
  border: 1px solid #e5e5e5;
  padding: 0.25rem;
  line-height: 1;
  border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  -ms-border-radius: 0.125rem;
  -o-border-radius: 0.125rem;
}
.latest-jobs-body {
  align-items: flex-start;
}
.latest-jobs-text {
  padding-right: 0.5rem;
}
.latest-jobs-item {
  padding: 1.125rem 0;
}
.latest-jobs-item:first-child {
  padding-top: 0;
}
.social-link {
  display: flex;
  align-items: center;
}
.social-link-item a {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link-item + .social-link-item {
  margin-left: 0.75rem;
}
.footer-main-left {
  font-size: 13px;
  border-top: 1px solid #f5f5f5;
  color: #707070;
  line-height: 1.2rem;
  margin: 24px 0;
  padding: 24px;
  text-align: center;
}
.logo-text-mb,
.bar-mb,
.primary-nav__sub,
.primary-nav__search-mb,
.secondary-nav--right__link-mb,
.premium-content-mb {
  display: none;
}
.premium-content-mb {
  max-width: 1024px;
}
.sub-menu-mb-wrapper {
  position: fixed;
  width: 100%;
  height: calc(100% + 1px);
  z-index: 9999;
  overflow: auto;
  top: 0;
  left: -100%;
  visibility: hidden;
  background: #fff;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  backdrop-filter: blur(10px);
}
.sub-menu-mb-wrapper.active {
  left: 0;
  visibility: visible;
}
.sub-menu-mb {
  position: relative;
  height: 100%;
}
.sub-menu-mb-content {
  letter-spacing: 0.125rem;
  max-height: 20rem;
  overflow: auto;
}
.sub-menu-mb-item-text,
.sub-menu-mb-child {
  padding: 0.75rem 1.5rem;
}
.sub-menu-mb-dropdown {
  margin-left: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-out;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  -ms-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
}
.sub-menu-mb-dropdown.open {
  max-height: 1000px;
}
.sub-menu-mb-item-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-menu-mb-item-text .active {
  color: #e10000;
}
.sub-menu-mb-icon {
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
}
.sub-menu-mb-icon.active {
  transform: rotate(180deg);
}
.sub-menu-mb-aside-nav--line {
  margin: 0.75rem 1.5rem;
  background: #e5e5e5;
  height: 1px;
}
.sub-menu-mb-aside-nav--item {
  padding: 0.7rem 1.5rem;
  letter-spacing: 0.125rem;
}
.sub-menu-mb-header {
  display: flex;
  align-items: center;
}
.sub-menu-mb-close {
  padding-left: 1.125rem;
}
.social-link-mb {
  background-color: #171717;
  margin-top: 0.75rem;
  padding: 2rem 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.social-link-item-mb a {
  border: 1px solid #171717;
}
.social-link-app__link {
  display: inline-block;
}
.social-link-app__img {
  width: 85px;
  height: auto;
}
.latest-jobs-mb {
  display: none;
}
