.premium-cate-title {
  padding-top: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #e10000;
  display: table;
}
.premium-cate-sapo {
  text-align: center;
  margin: 1rem 0;
}
.premium-cate-pane__title {
  border-bottom: 1px solid #e4e4e4;
}
.premium-cate-pane-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 53px 36px;
}
.premium-cate-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle {
  // position: relative;
  // display: inline-block;
  // width: 60px;
  // height: 26px;
  // vertical-align: middle;
  margin: 0 10px;
}
.toggle__input {
  display: none;
}
.toggle__bar {
  width: 3.75rem;
  height: 1.625rem;
  background-color: #000;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  padding: 0.25rem;
}
.toggle__spin {
  width: 1.25rem;
  height: 1.125rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
.toggle__input:checked + .toggle__bar .toggle__spin {
  transform: translateX(2rem);
  -webkit-transform: translateX(2rem);
  -moz-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  -o-transform: translateX(2rem);
}
.premium-cate-pane {
  display: none;
}
.premium-cate-pane.active {
  display: block;
}
.premium-cate-tab-item {
  color: #dbdbdb;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.premium-cate-tab-item.active {
  color: #707070;
}
.premium-cate-pane-block {
  padding-bottom: 3rem;
}
