// tablet and mobile
@media (max-width: 64em) {
  .secondary-nav {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .main,
  .detail-wrapper {
    display: block;
    padding-bottom: 0;
  }
  /*================================================display none*/
  .logo-text,
  .primary-nav__list,
  .primary-nav__signup,
  .primary-nav__login,
  .primary-nav__search,
  .secondary-nav--right__link,
  .premium-content,
  .article--content__des,
  .main-right-wrapper,
  #footer,
  .detail-right {
    display: none;
  }
  /*================================================display block*/
  .logo-text-mb,
  .primary-nav__sub,
  .primary-nav__search-mb,
  .secondary-nav--right__link-mb,
  .premium-content-mb,
  .latest-jobs-mb,
  .cmt-mb {
    display: block;
  }
  .primary-nav {
    align-items: center;
  }
  .bar-mb {
    padding-left: 1.125rem;
    display: block;
  }
  .primary-nav__sub,
  .secondary-nav--right__link-mb {
    letter-spacing: 0.125rem;
  }
  .primary-nav__field {
    justify-content: flex-end;
  }
  .secondary-nav--right__link-mb {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
  .secondary-nav--right {
    padding-right: 0;
  }
  .secondary-nav--left__dropdown {
    background-color: #fff;
    right: 0;
    left: 0;
    max-height: 100vh;
    height: 100vh;
    box-shadow: none;
  }
  .main-left-row-one__title,
  .featured-premium__title {
    font-size: 21px;
  }
  .main-left-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .main-left-row-one {
    margin-left: 1.125rem;
    margin-right: 1.125rem;
  }
  .featured-premium__title {
    margin-bottom: 1.125rem;
  }
  .secondary-nav--left__link.current {
    box-shadow: inset 0 -1px #e10000;
  }
  .premium-content-mb {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    margin-top: 1.5rem;
  }
  .article--img {
    width: 35%;
  }
  .article--content {
    width: 65%;
  }
  .featured-premium__author--item {
    padding: 0.125rem 0;
  }
  .article--content__title {
    margin-bottom: 0.5rem;
  }
  .latest-stories__header {
    margin-left: 1.125rem;
  }
  .article,
  .latest-jobs-mb {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
  .latest-jobs-item {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 7px 2px rgb(0 0 0 / 10%);
    padding: 1.125rem;
  }
  .latest-jobs-item:first-child {
    padding-top: 1.125rem;
  }
  .latest-jobs-content .slick-slide {
    margin: 0.5rem;
  }
  .latest-jobs-item {
    display: flex !important;
  }
  .latest-jobs-item__img {
    flex-shrink: 0;
  }
  .latest-jobs-body {
    padding-left: 0.75rem;
  }
  .receive-email {
    padding: 1.125rem;
  }
  .premium-cate-pane-block {
    grid-template-columns: 1fr 1fr;
  }
  .detail-left {
    padding-left: 0;
    padding-right: 0;
  }
  .detail-category {
    flex-wrap: wrap;
  }
  .detail-title {
    font-size: 21px;
  }
  .detail-content p,
  .detail-content strong {
    font-size: 1rem;
  }
  .paywall-reminder {
    font-size: 13px;
    padding: 1.125rem;
  }
}
// ============================================================================================================
@media (max-width: 63.9375em) {
}

// tablet ==================================================================================================
@media (min-width: 46.25em) and (max-width: 64em) {
  .video-form-field {
    padding: 1.125rem;
  }
}

// mobile =================================================================================================================
@media (max-width: 46.1875em) {
  .article--content {
    padding-left: 0.75rem;
  }
  .sub-form-control {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .primary-nav-wrapper {
    background-color: #fff;
  }
  .category {
    padding-left: 0;
    padding-right: 0;
  }
  .category-header {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
  .category-article--content__title {
    font-size: 1rem;
  }
  .page-title {
    font-size: 1.75rem;
  }
  .sign-up__title {
    font-size: 21px;
  }
  .sign-up-content,
  .login-content {
    padding: 2rem;
  }
  .btn-sign-up,
  .btn-login {
    margin: 1rem 0 0.75rem;
  }
  .close-sign-up,
  .close-login {
    top: 1rem;
    right: 1rem;
  }
  .premium-cate-pane-block,
  .latest-video-container,
  .detail-video-container {
    grid-template-columns: 1fr;
  }
  .hero-image {
    height: 100%;
  }
  .hero-image__infomation {
    position: relative;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    top: 0.325rem;
    left: unset;
  }
  .hero-image__title {
    font-size: 30px;
    width: 100%;
  }
  .hero-image__description {
    margin: 0.625rem 0 1rem;
    width: 100%;
  }
  .here-image-field {
    margin-bottom: 2.5rem;
  }
  .latest-video__title {
    font-size: 21px;
    padding-bottom: 0.625rem;
  }
  .latest-video__title .fix-text2,
  .latest-video__description.fix-text3 {
    -webkit-line-clamp: inherit;
  }
  .all-video-container {
    grid-template-columns: 1fr 1fr;
  }
  .video-form-field {
    padding: 0;
  }
  .video-form__form {
    padding: 0 1.125rem;
  }
  .detail-video__title {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .detail-video-content {
    font-size: 1rem;
  }
  .detail-video-content p {
    margin: 1rem 0;
    line-height: 1.8;
  }
  .detail-video-up-next__img {
    width: 40%;
    flex-shrink: 0;
  }
  .detail-video-up-next__content {
    width: 60%;
    flex: 1;
  }
  .detail-video-up-next__content-title {
    font-size: 13px;
    margin-bottom: 0;
  }
  .third-nav-title {
    display: none;
  }
  .detail-wrapper .premium-content-mb {
    padding-left: 0;
    padding-right: 0;
  }
  .detail-category__item {
    margin-bottom: 0.5rem;
  }
  .primary-nav__user-img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .primary-nav__user-dropdown {
    width: 15rem;
  }
  .search-content {
    padding: 1.5rem 0.625rem;
  }
}

// danh cho man hinh duoi 400px ==================================================================================
@media (max-width: 25em) {
}

@media (max-width: 20em) {
}
// danh cho man hinh co height duoi 700px ========================================================================
@media (max-height: 41.75em) {
  .sub-menu-mb-content {
    max-height: 9.375rem;
  }
}
